{% extends "base.html" %}

{% block content %}
<h1>Join Today</h1>

<form method="POST" action="{% url 'join' %}">
    {% csrf_token %}

    <div class="mb-3">
        <label for="exampleInputUsername1" class="form-label">Username</label>
        <input type="text" class="form-control" placeholder="Enter username" name="username" value="{{ username|default_if_none:'' }}">
        {% if username_error %}
        <div class="alert alert-danger mt-2" role="alert">
            {{ username_error }}
            </div>
        {% endif %}
    </div>
    <div class="mb-3">
      <label for="exampleInputPhone" class="form-label">Phone</label>
      <input type="text" name="phone" value="{{ form.initial.phone }}" readonly />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" name="email" value="{{ email|default_if_none:'' }}">
      {% if email_error %}
        <div class="alert alert-danger" role="alert">
          {{ email_error }}
        </div>
      {% endif %}
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" placeholder="Password" name="password" value="{{ password|default_if_none:'' }}">
      {% if password_error %}
        <div class="alert alert-danger" role="alert">
          {{ password_error }}
        </div>
      {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

    {% endblock %}