{% extends "base.html" %}

{% block content %}
<form method="GET" action="{% url 'filter_orders' %}">
  <input type="hidden" name="phone" value="{{ phone }}">
  <label>Start Date:</label>
  <input type="date" name="start_date" value="{{ start_date }}">
  <br/>
  <label>End Date:</label>
  <input type="date" name="end_date" value="{{ end_date }}">
  <br/>
  <br/>
  <button type="submit" class="btn btn-sm btn-outline-primary">📅 Filter</button>
  {% if filtered %}
    <a href="{% url 'order_list' %}?phone={{ phone }}" class="btn btn-sm btn-outline-secondary">Clear</a>
  {% endif %}
</form>
<br/>
<br/>

  <h2>📅 Your Orders for Today</h2>
  
  {% if paid_orders %}
    <h3 style="color: green;">✅ Paid Orders</h3>
    {% for order in paid_orders %}
      <hr/>
      <strong>Products:</strong>
      {% for item in order.items.all %}
        {{ item.product_name }} ({{ item.quantity }}){% if not forloop.last %}, {% endif %}
      {% endfor %}
      <strong>Customer:</strong> {{ order.customer_name }}<br/>
      <strong>Status:</strong> {{ order.status }}<br/>
      <strong>KES:</strong> {{ order.total_amount }}<br/>
      <strong>Time:</strong> {{ order.order_date|date:"H:i" }}<br/>
      <br/>
      <div class="d-flex justify-content-between">
      <form method="GET" action="{% url 'order_receipt' order.id %}">
        <button type="submit" class="btn btn-primary">Send Receipt</button>
      </form>

      <form method="POST" action="{% url 'delete_order' %}">
        {% csrf_token %}
        <input type="hidden" name="order_id" value="{{ order.id }}">
        <button type="submit" class="btn btn-danger">Delete Order</button>
      </form>
      </div>
      <hr/>
    {% endfor %}
    <p style="color: green;"><strong>Total Paid:</strong> KES {{ total_paid }}</p>
  {% else %}
    <p>No paid orders today.</p>
  {% endif %}

  <br/>

  {% if debt_orders %}
    <h3 style="color: red;">💰 Debt Orders</h3>
    {% for order in debt_orders %}
      <hr/>
      <strong>Product:</strong> {{ order.product_name }}<br/>
      <strong>Customer:</strong> {{ order.customer_name }}<br/>
      <strong>Status:</strong> {{ order.status }}<br/>
      <strong>KES:</strong> {{ order.total_amount }}<br/>
      <strong>Time:</strong> {{ order.order_date|date:"H:i" }}<br/>
      <br/>
      <form method="POST" action="{% url 'mark_as_paid' %}">
        {% csrf_token %}
        <input type="hidden" name="order_id" value="{{ order.id }}">
        <button type="submit" class="btn btn-primary">Mark as Paid</button>
      </form>
      
      <hr/>
    {% endfor %}
    <p style="color: rgb(165, 9, 9);"><strong>Total Debt:</strong> KES {{ total_debt }}</p>
  {% else %}
    <p>No debt orders today.</p>
  {% endif %}
{% endblock %}
